.employees{
    margin-top: 100px;
    margin-left: 250px;
}
/* Employee List Container */
.employee-list-container {
    width: 80%;
    margin: 20px auto;
}

/* Employee List */
.employee-list {
    list-style: none;
    padding: 0;
    width: 80vw;
}

/* Employee Item */
.employee-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Employee Details */
.employee-details {
    padding: 15px;
}

/* Employee Name */
.employee-name {
    margin: 0;
    color: #333;
}

/* Employee Info */
.employee-info {
    margin: 5px 0;
    color: #555;
}